<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Email</title>
</head>

<body>

    <section style="border: 2px solid blueviolet;">
        <div style="background-color: blueviolet;  text-align: center; margin-top: -10px;">
            <h1 style="color:white;">Welcome to LMS</h1>
        </div>
        <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
            <p style="font-size: 15px; text-align: center;">Hello <b>
                    <%= user.name%>
                </b></p>
            <h1 style="text-align: center; font-size: 40px;">
                <%= activationCode%>
            </h1>
            <p style="text-align:center; font-size: 15px;">This is your activation code valid for 5 minutes</p>
        </div>
        <div style="background-color: blueviolet; text-align: center;">
            <h1 style="color:white;">Thank You</h1>
        </div>
    </section>


</body>

</html>